/* Garante que a página ocupa toda a altura da tela */
html, body {
    height: 100%;
    margin: 0;
}

/* Flexbox para empurrar footer para o fundo */
body {
    display: flex;
    flex-direction: column;
}

/* Conteúdo ocupa o espaço restante */
.container {
    flex: 1;
}

/* Cabeçalho */
header {
    margin-bottom: 0;
}

/* Retira o espaçamento entre a navbar e o conteúdo */
header + .container {
    margin-top: 0;
}

/* Rodapé fixo */
footer {
    background-color: #343a40;
    color: white;
    padding: 1rem;
    margin-top: auto;
    width: 100%;
    text-align: center;
}

/* Layout tipo "masonry" */
.masonry {
    column-count: 1;
}

@media (min-width: 992px) {
.masonry {
    column-count: 3;

}

.masonry-item {
    break-inside: avoid;
    display: inline-block;
    width: 100%;
}
}